<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
        <p>Date desde el controller: ${date}</p>
        <p>Date en el template: ${new Date()}</p>
        
        
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </body>
</html>
